div#leftside{
 border :1px solid #DCDCDC;
 width  :15%;
 margin :1em;
 padding:0.5em;
 float  :left;
}

div#leftside ul{
 list-style:none;
}

div#main{
 border :1px solid #DCDCDC;
 width  :75%;
 margin :1em;
 padding:0.5em;
 float  :left;
}

div#main h1{
 color    :#4682B4;
 font-size:1.5em;
}

div.imageSpace{
 border :1px solid #DCDCDC;
 width  :95%;
 padding:1em;
}

div.bigImage{
 border :1px solid #DCDCDC;
 width  :100%;
}

div.bigImage ul{
 list-style:none;
}

div.bigImage ul li{
 float :left;
 width :40%;
 margin:1em;
}

div.bigImage ul li img{
 border :1px solid #DCDCDC;
 width  :100%;
}

div.smallImage{
 border :1px solid #DCDCDC;
 width  :100%;
 margin :0.5em 0 0 0 ;
}

div.smallImage ul{
 list-style:none;
}

div.smallImage ul li{
 float :left;
 width :20%;
 margin:1em;
}

div.smallImage ul li img{
 border :1px solid #DCDCDC;
 width  :100%;
}

div.detail{
 border :1px solid #DCDCDC;
 width  :55%;
 float  :right;
 padding:0.5em;
 margin :1em;
}

dl.dl_indivi,
dl.dl_price ,
dl.dl_room
{
 border :1px solid #DCDCDC;
 width  :100%;
 margin :1em 0 0 0;
}

dl.dl_indivi dt,
dl.dl_price  dt,
dl.dl_room   dt
{
 clear:both;
 float:left;
 width:4em;
 padding:0.5em;
 border-bottom:1px solid #DCDCDC;
}

dl.dl_indivi dd,
dl.dl_price  dd,
dl.dl_room   dd
{
 border-bottom:1px solid #DCDCDC;
 padding:0.5em;
}

div#map-canvas{
 border-bottom:1px solid #DCDCDC;
 width  :35%;
 height :300px;
 float  :left;
 padding:0.5em;
 margin :1em 0 0 1em;
}
