div#header{
/* border :1px solid #DCDCDC;*/
 width  :95%;
/* height :8em;*/
 margin :1em;
 padding:0.5em;
}

hr{
 display   :block;
 height    :1px;
 border-top:5px solid blue;
 margin    :0.5em 0;
}

div.logoSpace{
 border :1px solid #DCDCDC;
 width  :20%;
 height :3em;
 margin :0 0 0 0;
 padding:0.5em;
 float  :left;
}

div.logoSpace img{
 width:90%;
}

div.eventSpace{
 border :1px solid #DCDCDC;
 width  :40%;
 height :3em;
 margin :0 0 0 3em;
 padding:0.5em;
 float  :left;
}

div.storeInfo{
 border :1px solid #DCDCDC;
 width  :25%;
 height :3em;
 margin :0 0 0 3em;
 padding:0.5em;
 float  :left;
}

div.storeInfo ul{
 list-style:none;
}

div.storeInfo ul li{
 font-size:small;
}

span.tel{
 font-size:1.5em;
 color:red;
}

div.naviBar{
/* border :1px solid #DCDCDC;*/
 width  :100%;
 height :3em;
 margin :1em 0 0 0;
}

div.naviBar ul{
 list-style:none;
}

div.naviBar ul li{
 width  :10%;
 float  :left;
}

div.naviBar ul li a{
 border    :1px solid #DCDCDC;
 width     :100%;
 padding   :1em 0 1em 0;
 text-align:center;
 display   :block;
 background:blue;
 color     :white;
}

div.naviBar ul li a.nowpage{
 background:white;
 color     :black;
}

div#topImage{
/* border :1px solid #DCDCDC;*/
 width  :95%;
/* height :8em;*/
 margin :0 1em;
 padding:0.5em;
}

div.imageSpace{
 border    :1px solid #DCDCDC;
 width     :30%;
/* height    :5em;*/
 margin :1em 0 0 0;
 float    :left;
}

div.imageSpace img{
 width    :100%;
}

div.commentSpace{
/* border    :1px solid #DCDCDC;*/
 width     :60%;
 margin :1em 0 0 0;
 padding:1em;
 float     :left;
}

div.bigNavi{
 width  :90%;
 padding:3em 0;
}

div.bigNavi ul{
 list-style:none;
}

div.bigNavi ul li{
 float :left;
 width  :25%;
}

div.bigNavi ul li a{
 display   :block;
 height    :1em;
 padding   :0.5em 0;
 font-size :2.5em;
 text-align:center;
 background:blue;
 border    :1px solid white;
 color     :white;
 margin    :0 0.1em;
 border-radius:10px;
}

div#main{
 border :1px solid #DCDCDC;
 width  :95%;
 margin :1em;
 padding:0.5em;
}

div#main h2{
 border :1px solid #DCDCDC;
 font-size:2em;
 background:blue;
 color:white;
}

div.estatebox{
 border :1px solid #DCDCDC;
 width  :15%;
 margin :0.5em;
 padding:0.5em;
 float  :left;
 border-radius:10px;
}

div.imagebox{
 border :1px solid #DCDCDC;
 width  :90%;
 height :10em;
 padding:0.5em;
 margin :0 0 0.5em 0;
 overflow:hidden;
}

div.imagebox img{
 width  :90%;
}

div.detailbox{
 border :1px solid #DCDCDC;
 width  :90%;
 height :5em;
 padding:0.5em;
}

div.detailbox ul{
 list-style:none;
}

span.price{
 display:block;
 text-align:right;
 color:red;
 font-size:1.5em;
}
span.yen{
 color:red;
}
