div#contents{
 width:1000px;
 margin:0 auto;
 text-align:left;
}
div#inner{
 overflow:hidden;
}
div#article{
 width:770px;
 float:left;
}
div#article h1{
 border-bottom:1px solid #CCC;
 border-left  :1px solid #CCC;
 border-right :1px solid #CCC;
 border-top   :3px solid  #F39800;
 padding      :10px 0 10px 5px;
 line-height  :1.6;
 color        :#333333;
 font-size    :18px;
 font-weight  :bold;
 margin-bottom:10px;
 background   :#FFF;
}

div#article h2{
 background-color:#1a1a1a;
 padding         :7px;
 line-height     :1.4;
 font-size       :15px;
 font-weight     :bold;
 margin-bottom   :10px;
 color           :#FFF;
}
div#privacy p{
 font-size    :0.8em;
 margin-bottom:1em;
}
div#privacy ul li{
 font-size    :0.8em;
}
