ul{
 list-style:none;
}
div#wrapper{
 width:100%;
}

div#wrapper>ul{
 list-style:none;
 margin-left:15%;
}
div#wrapper>ul>li{
 width:12%;
 height:2.2em;
 margin-left:1em;
 padding-top:1em;
 float:left;
 display:block;
 border:1px solid #DCDCDC;
 text-align:center;
 /*background-color:#2E8B57;*/
 color:#2E8B57;
}
div#leftside{
 width:12%;
 float:left;
 padding:2%;
}
div#main{
 float:left;
 width:80%;
}

div#wrapper h1{
 font-size:2em;
 height:1.3em;
 margin:2% 20%;
 padding-top:0.5em;
 background-color:#3CB371;
 text-align:center;
 color:white;
}

div.listdiv{
 border:1px solid #DCDCDC;
 padding:3%;
}

div.listdiv img{
 width:90%;
 float:left;
 margin-top:5%;
}

div.listdiv h3{
}
div.imgdiv{
 float:left;
 width:80%;
 height:150px;
 margin:1%;
 padding:1%;
 border:1px solid #DCDCDC;
 overflow:hidden;
}
div.imgdiv img{
 max-width:90%;
 max-height:90%;
}
.overlay{
 position: absolute;
 display: none;
 top: 0;
 width: 100%;
 z-index: 1;
 background: url(img/black.png);
}

.overlay img {
 display: inline-block;
 position: absolute;
 width: 800px;
 -webkit-box-shadow: 0px 0px 20px 0px #333;
 -moz-box-shadow: 0px 0px 20px 0px #333;
 box-shadow: 0px 0px 20px 0px #333;
}

#cursol {
 position: absolute;
 padding: 5px;
 color: #fff;
 background: #666;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
 -webkit-box-shadow: 2px 2px 5px 0px #333;
 -moz-box-shadow: 2px 2px 5px 0px #333;
 box-shadow: 2px 2px 5px 0px #333;
}

ul.ul_a,
ul.ul_b{
 list-style:none;
}

div.datarow{
 width:100%;
 height:1em;
 border-bottom:1px solid #DCDCDC;
 margin:1em 0;
}

input[type=checkbox]{
 float:left;
}
div.datarow div{
 float:left;
 height:1em;
 overflow:hidden;
 font-size:0.8em;
}
div.div_3{
 width:3%;
}

div.div_5{
 width:5%;
 height:1em !important;
}

div.div_10{
 width:10%;
}

div.div_15{
 width:15%;
}
div.div_20{
 width:20%;
}

div.text-right{
 text-align:right;
}
div.paddingleft{
 padding-left:1em;
}
div.clr{
 clear:both;
}

#ul_menu li{
  position: relative;
 /*float: left;*/
  margin: 1%;
  width: 4em;
}

#ul_menu>li>a{
 color:#008B8B;
 display:block;
 width:100%;
 padding:0.5em 0;
 border: solid 1px #ccc;
 font-weight: bold;
 text-align:center;
 border-radius:10px;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
}

#ul_menu>li>a:hover {
 background: #008B8B;
 color: #fff;
}

#ul_menu li ul {
 display: none;
 position: absolute;
 top: 2em;
 left: -1px;
 padding: 5px;
 width: 80px;
 background: #eee;
 border: solid 1px #ccc;
}

#ul_menu li ul li {
 margin: 0;
 padding: 0;
 width: 80px;
 border: none;
}
#ul_menu li ul li a {
 display: inline-block;
 width: 80px;
 height: 20px;
}

#ul_menu li ul li a:hover {
 background: #000;
 color: #fff;
}

div.redrow {
 background-color:red;
}

ul#ul_area{
 width:100%;
}

ul#ul_area li,
ul#ul_fld li,
ul#ul_madori li,
ul#ul_station li
{
 font-size:0.9em;
 margin-top:0.4em;
}

li.fld002,
li.fld018,
li.fld025
{
 margin-left:1em;
}

li.fld003,
li.fld019,
li.fld026,
li.fld180
{
 margin-left:2em;
}

dt{
 clear:both;
 float:left;
 width:5em;
 height:2em;
 border-bottom:1px solid #DCDCDC;
}
dd{
 height:2em;
 text-indent:-1em;
 margin-left:1em;
 border-bottom:1px solid #DCDCDC;
}

div.imglist{
 width:40%;
 height:350px;
 overflow:scroll;
 border:1px solid #DCDCDC;
 margin:1%;
 float:left;
}

div#map-canvas{
 width:40%;
 height:300px;
 border:1px solid #DCDCDC;
 margin:1%;
 float:left;
}

div.divdetail{
 float:right;
 width:40%;
 margin:1% 15% 0 0;

}

a.a_upload,
a.a_delimg,
a.a_back,
a.a_outdata
{
 float:left;
 display:block;
 border:1px solid #DCDCDC;
 width:10%;
 height:0.8em;
 padding:0.4em;
 font-size:0.8em;
 text-align:center;
 color:#008B8B;
 border-radius:10px;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
 margin:0.5em;
}

ul.ul_image li{
 width:45%;
 float:left;
 height:200px;
 overflow:hidden;
 margin:1%;
 padding:1%;
 border:1px solid #DCDCDC;
}
ul.ul_image li input{
 width:30%;
 margin:1%;
}
ul.ul_image li img{
 width:90%;
 max-height:80%;
}

a.csvbutton{
 display:block;
 border:1px solid #DCDCDC;
 width:20%;
 height:1em;
 margin:1em;
 padding:1em 0;
 color:#008B8B;
 text-align:center;
 border-radius:10px;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
 margin:0.5em;
 float:left;
}

