<?php
//---------------------------------------------------//
// DB 接続系定数
//---------------------------------------------------//
 define("DBHOST"        ,"localhost");
 define("DBNAME"        ,"rains"    );
 define("DBUSER"        ,"dbuser"   );
 define("DBPASS"        ,"dbpass"   );
 define("TABLE_PREFIX"  ,"hp_"      );

//---------------------------------------------------//
// 会社情報
//---------------------------------------------------//
define("MAILADDRESS","xxxxxx@xxxxxxxxxxx.xxx");
define("CORPNAME","会社名");
define("CORPADDRESS","会社住所");
//define("CATCHWORD","コメント");
define("CORPTEL","00-0000-0000");
define("CORPFAX","00-0000-0000");
 
//---------------------------------------------------//
//GoogleMap API関連
//---------------------------------------------------//
$GOOGLEURL="http://maps.googleapis.com/maps/api/js?sensor=false&key=";
$APIKEY="Google API Key";
?>
